{% extends 'base.html' %}
    {% block content %}
       <table border = 1>
         <thead>
            <td>User Name</td>
            <td>Password</td>
            <td>Phone Number</td>
            <td>IP</td>
         </thead>
         {% for row in users_rows %}
            <tr>
               <td>{{row["username"]}}</td>
               <td>{{row["password"]}}</td>
               <td> {{row["phoneNumber"]}}</td>
               <td>{{row['ip']}}</td>
            </tr>
         {% endfor %}
      </table>
    <div>
        <p>---------------------------------------------------</p>
    </div>
      <table border = 2>
         <thead>
            <td>Advert Name</td>
            <td>Amount</td>
            <td>ClickNumber</td>
         </thead>
         {% for row in adverts_rows %}
            <tr>
               <td>{{row["advertName"]}}</td>
               <td>{{row["amount"]}}</td>
               <td> {{row["clickNumber"]}}</td>
            </tr>
         {% endfor %}
      </table>
    <div>
        <p>---------------------------------------------------</p>
    </div>
      <table border = 2>
         <thead>
            <td>Advert Name</td>
            <td>User Name</td>
            <td>Proof Address</td>
            <td>IP</td>
            <td>Click Time</td>
         </thead>
         {% for row in operations_rows %}
            <tr>
                <td>{{row["advertName"]}}</td>
                <td>{{row["username"]}}</td>
                <td> {{row["proofAddress"]}}</td>
                <td> {{row["ip"]}}</td>
                <td> {{row["clickTime"]}}</td>
            </tr>
         {% endfor %}
      </table>
    <a href="\home">Go Back</a>
    {% endblock %}