/*#############################################################
Name: Identity Mixer Issuer 1
Date: 2010-11-03
Description: Simple issuer theme for Idemix demo.
Author: Patrik Bichsel
URL: http://www.zurich.ibm.com/~pbi/idmx/issuer1/
#############################################################*/


.arrow { top: 100%; }


